import turtle
t = turtle.Pen()
turtle.screensize(canvwidth=500, canvheight=500, bg=None)


x = 60

z = (1)
turtle.screensize(canvwidth=500, canvheight=500, bg="black")
t.speed(20)


while True:
    x += 1
    z += 1
    if z == 1:
        t.color("green")
    elif z == 2:
        t.color("blue")
    elif z == 3:
        t.color("red")
    else:
        z = 0
    t.forward(30)
    t.right(x)
    if x > 70:
        x = 60
turtle.Done()
